body{
	background-image: url("back.jpg");
}
h1{
	color: white;
	text-align: center;
	font-family: arial;
	
}

#form2{
	margin-left: 400px;
	width: 40%;
}
footer{
	text-align: center;
}

button{
	color: white;
	background-color: purple;
	border: none;
	width: 270px;
	height: 30px;
}
.buttons button{
	color: white;
	background-color: purple;
	border: none;
	width: 400px;
	height: 40px;
	margin: 20px;
}

.ser img{
	width:22%;
	height: 25%;
	margin: 15px;

}
.label label{

	color: white;
	size: 40px;
margin:120px;
}
#booknow1{
	margin-left: 45%;

}


.booking {
	display: flex;
	position: relative;
}

.room-info, .payment {
	width: 50%;
}

.room-info {
	border-right: 1px solid rgba(0, 0, 0, .1);
	padding-right: 30px;
}


.booking input {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	font-size: 1.2em;
	padding: 10px;
	transition: border .1s ease;
	width:30%;
}
.room-info img{
	width: 100%;
}
.booking input:focus, {
	border-bottom: 2px solid #ff9999;
}
.booking select {
	width: 215px;
}
.booking select {
	width: 215px;
}

