body{
	background-image: url("back.jpg");
}
h1{
	color: white;
	text-align: center;
	font-family: arial;
	
}
#form1{
	margin-left: 30px;
	width: 40%;
}
#form2{
	margin-left: 400px;
	width: 40%;
}
footer{
	text-align: center;
}
#form11 .input1{ width: 235px;
	height: 30px;
	margin-bottom: 10px; 
	border: none;

}
#form11 .input2{ width: 113px;
	height: 30px;
	margin-bottom: 10px; 
	border: none;

}
button{
	color: white;
	background-color: purple;
	border: none;
	width: 470px;
	height: 30px;
}
.buttons button{
	color: white;
	background-color: purple;
	border: none;
	width: 400px;
	height: 40px;
	margin: 20px;
}

.ser img{
	width:22%;
	height: 25%;
	margin: 15px;

}
.label label{

	color: white;
	size: 40px;
margin:120px;
}
#booknow1{
	margin-left: 45%;
}